:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

*{margin: 0;}

body{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

.container{
    /* outline: 1px solid; */
    margin: 0 2em 5em;
}

.sumary{
    text-align: center;
    font-weight: 700;
}

h1{
    color: var(--Very-Dark-Magenta);
    font-size: 2.7em;
    margin: 0 .3em .7em .3em;
    line-height: .8;
}

.sumary{
    margin-bottom: 3em;
}

.sumary__text{
    color: var(--Dark-Grayish-Magenta);
    line-height: 1.5em;
    font-size: 1.12em;
    font-weight: 500;
}

.ranks{
    margin-bottom: 3em;
}

.ranks__card{
    background-color: var(--Light-Grayish-Magenta);
    color: var(--Very-Dark-Magenta);
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    padding: 1em 0; 
    margin-bottom: 1em;
    border-radius: 10px;
}

.card__user{
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;
    margin-bottom: 2em;
    color: var(--White);
    padding: 1em 2em 2em;
}

.user--img{
    position: relative;
    top: 23px;
    border-radius: 50%;
    width: 15%;
    margin-right: 1em;
}

.user__name{
    font-weight: 700;
}

.user__reviews{
    position: relative;
    display: block;
    color: var(--Soft-Pink);
    left: 56px;
}

.user__paragraph{
    margin-top: 1.5em;
    font-size: 1.1em;
}

.main{
    padding-top: 5em;
    height: 100%;
    position: relative;
}

.img__top{
    position: absolute;
    top: 0;
    left: 0;
}

.img__bottom{
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (min-width:800px){

    .container{
        margin: 3em 5em;
        display: flex;
        flex-wrap: wrap;
    }

    .sumary{
        width: 50%;
        text-align: start;
        padding: 0 10em 0 1.5em;
    }

    h1{
        font-size: 5em;
        font-weight: 700;
        margin-left: 0;
    }

    .sumary__text{
        font-size: 1.5em;
        font-weight: 700;
    }

    .ranks{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .ranks__card{
        width: 70%;
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 1.3em;
        position: relative;
    }

    .ranks--rigth1{
        right: 3em;
    }

    .ranks--rigth3{
        left: 4em;
    }

    .ranks__star{
        margin-left: .5em;
    }

    .ranks__text{
        margin-left: 4em;
    }

    .card{
        display: flex;
    }

    .card__user{
        margin: 0 1rem 0 1rem;
        position: relative;
    }

    .user__reviews{
        left: 5.3em;
    }

    .card--rigth2{
        top: 2em;
    }

    .card--rigth3{
        top: 4em;
    }
    
}